<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>提示</title>
<style>
	p{
		margin:10px;
		min-height:30px;
	}
	
	p:nth-child(2n-1){
		background-color:#ccc;
	}
</style>
</head>
<body>
<h3>出错</h3>
<div>
<p th:text="${path}"></p>
<p th:text="${timestamp}"></p>
<p th:text="${status}"></p>
<p th:text="${error}"></p>
<p th:text="${exception}"></p>
<p th:text="${message}"></p>
<p th:text="${errors}"></p>
<p th:text="${trace}"></p>
<p>
	<img th:src="@{/pub/timg.jpg}"/>
</p>
</div>

</body>
</html>